{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'touchgestures/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'touchgestures/css/main.css' %}" />

	<script src="{% static 'touchgestures/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'touchgestures/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static 'touchgestures/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Touch Gestures</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
    

  //----Tap Box-----//
  var tapElement = document.getElementById('tap-box');
  var mc = new Hammer(tapElement);


  mc.on("tap", function(ev) {
      tapElement.textContent = ev.type +" gesture detected.";
      $(tapElement).css('height','+=50px');
      $(tapElement).css('width','+=50px');
     
  });

  //----Pan Box-----//
  var panElement = document.getElementById('pan-box');
  var mc = new Hammer(panElement);
  mc.on("panleft panright", function(ev) {
      panElement.textContent = ev.type +" gesture detected.";
      console.log(ev.type);
      if(ev.type == "panleft"){
        panElement.style.background = "red"
      }
      if(ev.type == "panright"){
        panElement.style.background = "blue"
      }
  });

 //----Rotate Box-----//
  var rotateElement = document.getElementById('rotate-box');
  var mc = new Hammer(rotateElement);

    
  mc.on("rotate", function(ev) {
      rotateElement.textContent = ev.type +" gesture detected.";
  });

   //----Pinch Box-----//
  var pinchElement = document.getElementById('pinch-box');
  var mc = new Hammer(pinchElement);

  mc.on("pinch", function(ev) {
      pinchElement.textContent = ev.type +" gesture detected.";
      $(pinchElement).css('height','-=50px');
      $(pinchElement).css('width','-=50px');
  });

   //----Press Box-----//
  var pressElement = document.getElementById('press-box');
  var mc = new Hammer(pressElement);

  mc.on("press", function(ev) {
      pressElement.textContent = ev.type +" gesture detected.";
      $(pressElement).css('opacity','-=0.1');
  });

    //----Swipe Box-----//
  var swipeElement = document.getElementById('swipe-box');
  var mc = new Hammer(swipeElement);

  mc.on("swipe", function(ev) {
      swipeElement.textContent = ev.type +" gesture detected.";
      $(swipeElement).css('border','solid red');
      $(swipeElement).css('border','+=2px');
  });

  </script>
</body>
</html>
